<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="Charles">
    <main>
      <h1>Charles Babbage</h1>  
      <img src="/img/babbage.jpg" width="45%">
      <p>"Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.
        Nacimiento: 26 de diciembre de 1791, Londres, Reino Unido
        Fallecimiento: 18 de octubre de 1871, Marylebone, Londres, Reino Unido"</p>
    </main>
</body>