<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="Clarke">
    <main>
      <h1>Joan Clarke</h1>  
      <img src="/img/clarke.jpg" width="28%">
      <p>"Joan Elisabeth Lowther Clarke.Nacio 24 June 1917 en West Norwood, London, England, UK
        Murio el 4 Septiembre 1996 (a los 79 años) en Headington, Oxfordshire, England, UK
        Nacionalidad britanica"</p>
    </main>
</body>