body{
    background-color: crimson;
 text-align: center;}
.Charles{
    background-color:darkorange;
}
.Berners-lee{
    background-color: darkslategray;
}
.Clarke{
    background-color: darkviolet;
}
.Hamilton{
    background-color:deeppink;
}
.Hopper{
    background-color: fuchsia;
}
.Lovelace{
    background-color: greenyellow;
}
.Turing{
    background-color: blue;
}